<section>
    <h1>Books</h1>
    <p>
    Using PHPUnit doesn't have to suck. Learn how to master this powerful testing
    framework through my book <a href="http://www.grumpy-phpunit.com">The Grumpy Programmer's PHPUnit Cookbook</a>
    </p>
    <p>
    Interested in learning more about testing your PHP applications? My latest book
    <a href="http://www.grumpy-testing.com">"The Grumpy Programmer's Guide To Buliding Testable Applications In PHP"</a> 
    is now available in PDF/epub/mobi and paperback.
    </p>
    <h1>Videos</h1>
    <p>
    It's the next best thing to me teaching you one-on-one how to become better at testing your code!
    The "PHP Bootcamp Sessions" Videos are now available at <a href="http://grumpy-learning.com">Grumpy Learing</a>.
    3+ hours of instruction in DRM-free 640x480 MP4 for just $99.
    </p>
</section>
